

:root {
    --background-color: #060c0c;
    --font-size-large: 1.5rem;
    --padding: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#060c0c;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5vw;
    overflow: auto;
    width: 90vw;
    height: 80vh;
}
/* THIS WAS TO KEEP WHITAKERS OUTPUT FROM OVERFLOWING, NOT SURE IF STILL NEED */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    line-height: 1; /* Optional, adjust as needed */
}

span {
    margin: 0;
    padding: 0;
}
#mainContainer {
    position: static;      /* Keeps the element in the normal document flow */
    width: 90vw;
    height: 60vh;
    box-sizing: border-box;/* Includes padding and border in the element's total width and height */
    overflow: visible;      /* Hides any content that overflows the container */
    display: flex;
}

/* #logo{
    position: relative;
    transform: rotate(90deg);
    color:#68686b62;
    font-size: 8px;
    align-self:flex-start;
} */


/* ----------------------------------------SOURCE MATERIAL BOXES */

#sourceContainer{
    display:inline-flex;
    width: 90vw;
    padding: 1vw;
    height: fit-content;
}
#sourceMaterialArea{
    border: 1px solid #0c0c0b;
    background-color: transparent;
    position: relative;
    width:fit-content;
    height: 2.5vw;
    min-height: 2vw;
    border-radius: 10px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    overflow: auto;
}
#sourceMaterialArea::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#sourceArea {
    display: flex; /* Flexbox for vertical centering */
    text-align: left; /* Horizontal centering */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: .7vw;
    padding-left: 1.5vw;
    background: #0b1717;
    color:#4e575700;
    border: none;
    width: 40vw;
    height: 2.5vw;
    font-size: clamp(8px, 1vw, 20px);
    font-family: monospace;
    outline: none;
    scrollbar-width: none;
    resize: none;
    -ms-overflow-style: none;
}

#lookupAreaContainer{
    margin-left: 1vw;
    padding: 1vw;
    overflow: visible;
}
#lookUpWord {
    margin-top: 0vw;
    position: relative;
    color:#C8ACD6;
    font-size: 2vw;

}
#assistanceArea {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vh;
    color:#FEFDED;
    font-family:'Courier New', Courier, monospace;
    font-size: clamp(.5em, 1.1vw, 2em);
    overflow: visible;
}

/* ----------------------------------------INPUT BOXES MAIN CONTAINER */
#inputContainers {
    position: static;      /* Keeps the element in the normal document flow */
    box-sizing: border-box;/* Includes padding and border in the element's total width and height */
    overflow-y: visible;
    display:grid;
    height: 20vw;
    max-height: 95vh;
    min-height: 5vw;
    width: 35vw;
}
/* ------------------------------------------NOTES BOXES */

/* Notes container adjustments */
#notesContainer {
    z-index: 0;
    margin-top: 5vw;
    border: 1px solid #3f3f3e;
    position: relative;
    border-radius: 10px;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: vertical;
    height: fit-content;
    height: 70vh;
    max-height: 95vh;
    min-height: 5vw;
    box-sizing: border-box;
    overflow: hidden; /* Use hidden to ensure no scrollbar appears */
    -webkit-overflow-scrolling: touch;
}

#notesContainer::-webkit-scrollbar {
    width: 0; /* Hides scrollbar */
}

#notesContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
#enterText {
    z-index: 1;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(250, 235, 215, 0.518);
    font-size: 1.25vw;
    position: relative;
    margin: 1vw;
    width: 90%;
    height: 95%;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none; /* Remove focus outline */
    overflow: auto; /* Ensure a scrollbar appears if content exceeds max-height */
}
#enterText::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* -------------------------------MAIN TEXT AND DEFINITION OUTPUT BOXES */
#latinTextAndSourceContainer{
    position:relative;
    color: transparent;
    border: 1px;
    width: 65vw;
    height: 60vh;
    display: inline-block;
}
#latinText {
    z-index: 1;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: .7vw;
    background: transparent;
    position: relative;
    font-size: 2.25vw;
    border: #3f3f3e;
    min-height: 3vw;
    height: fit-content;
    max-height: 70vh;
    max-width: 64vw;
    overflow: auto;
    scrollbar-width: none;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    resize: vertical;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS and hide scrollbar */
}
#latinText::after {
    z-index: 1;
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    cursor: s-resize;
    background-color: transparent;
}


/* --------------------------------------LINE CONTAINER THE WORD OBJECTS GO IN */
.line-container {
    position: relative;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove shadow effects */
    background-color: transparent; /* Ensure no background highlight */
    border: none; /* Ensure no border highlight */
}
.word {
    color:rgba(255, 248, 220, 0.733);
    display:inline;
    margin: .3vw;
    width: 100%;
    outline: none;
    position:relative;
}

/*CANVAS AREA*/


#canvas{

    margin: -3vw;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent interaction with SVG */
}
.line{
    margin: 0 auto;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with SVG */

}


/* -------------------------LATIN WORD OBJECTS AND THEIR HIGHLIGHTING EFFECTS */

.word.highlight {
    color: #C8ACD6;
}
.word.accusative {
    color: rgb(255, 93, 220);
}
.word.accusative.highlight {
    color: rgba(255, 93, 220, 0.331);
}
.word.verb {
    color: rgb(233, 249, 86);
}
.word.verb.highlight {
    color: rgba(233, 249, 86, 0.454);
}
.word.subject {
    color: rgb(98, 221, 255);
}
.word.subject.highlight {
    color: rgba(98, 221, 255, 0.442);
}
.word.preposition {
    color: rgba(119, 214, 221, 0.475);
}
.word.preposition.highlight {
    color: rgba(119, 214, 221, 0.103);
}
.word.ablative {
    color: rgb(215, 117, 43);
}
.word.ablative.highlight {
    color: rgba(241, 158, 94, 0.333);
}
.word.dative {
    color: rgb(96, 214, 83);
}
.word.dative.highlight {
    color: rgba(96, 214, 83, 0.556);
}
.word.genitive {
    color: rgb(214, 83, 83);
}
.word.genitive.highlight {
    color: rgba(214, 83, 83, 0.322);
}

/* ------------------------------------------------OTHER STUFF  */
.vertical-line {
    position: relative;
    width: 1px;
    height: 2.5vw;
    background-color: #3f3f3e;
}
#left-of-input{
    position: absolute;
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: 1vw;
    height: 4.7vw;
}
#right-of-input{
    margin-left: 1vw;
}
.horizontal-line {
    width: 95%;
    height: 1px;
    background-color: #3f3f3e;
}
#top{
    width: 90vw;
}
.notes-horizontal-line {
    width: 100%;
    height: 1px;
    background-color: rgba(250, 235, 215, 0.463);
}
.z-index-bottom {
    z-index: 0;
}
.z-index-middle {
    z-index: 1;
}
.z-index-top {
    z-index: 2;
}




