:root {
    --background-color: #000000;
    --background-image: url('/frontend/public/images/background.png');
    --font-family-sans: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-mono: 'Courier New', Courier, monospace;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.25vw;
    --font-size-small: 1vw;
    --font-size-xsmall: 0.5em;
    --font-size-latin-text: 2.25vw;
    --color-text-primary: #FEFDED;
    --color-text-secondary: #d6d3d3;
    --color-text-highlight: #C8ACD6;
    --color-background-primary: #2f105b;
    --color-background-secondary: #00000093;
    --color-border: #ff00f276;
    --color-placeholder: rgba(250, 235, 215, 0.518);
    --color-word-highlight: rgba(255, 248, 220, 0.733);
    --color-note-border: rgba(250, 235, 215, 0.463);
    --color-word-accusative: rgb(255, 93, 220);
    --color-word-verb: rgb(233, 249, 86);
    --color-word-subject: rgb(98, 221, 255);
    --color-word-preposition: rgba(119, 214, 221, 0.475);
    --color-word-ablative: rgb(215, 117, 43);
    --color-word-dative: rgb(96, 214, 83);
    --color-word-genitive: rgb(214, 83, 83);
    --padding: 10px;
    --margin: 1vw;
    --margin-5vw: 5vw;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    /* background-image: var(--background-image); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    font-family: var(--font-family-sans);
    margin: var(--margin-5vw);
    overflow: auto;
    width: 90vw;
    height: 80vh;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    line-height: 1; /* Optional, adjust as needed */
}

span {
    margin: 0;
    padding: 0;
}

#mainContainer {
    position: static; /* Keeps the element in the normal document flow */
    width: 90vw;
    height: 60vh;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow: visible; /* Hides any content that overflows the container */
    display: flex;
}

/* ----------------------------------------SOURCE MATERIAL BOXES */

#sourceContainer {
    z-index: 1;
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    display: inline-flex;
    width: 100%;
    height: fit-content;
}

#sourceMaterialArea {
    background-color: transparent;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 0px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    overflow: auto;
}

#sourceMaterialArea::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#sourceArea {
    margin: var(--margin);
    padding-top: var(--margin);
    display: flex; /* Flexbox for vertical centering */
    padding-left: 2vw;
    padding-right: var(--margin);
    background: var(--color-background-primary);
    border-radius: 5px;
    color: #481d83;
    border: none;
    width: 20vw;
    height: 2vw;
    font-size: clamp(6px, var(--font-size-small), 30px);
    font-family: monospace;
    outline: none;
    scrollbar-width: none;
    resize: none;
    -ms-overflow-style: none;
    transition: background-color 0.3s ease;
}

textarea::placeholder {
    color: var(--color-text-secondary);
    font-style: italic;
}

#lookupAreaContainer {
    padding: var(--margin);
    overflow: visible;
}

#lookUpWord {
    margin-top: 0;
    position: relative;
    color: var(--color-text-highlight);
    font-size: 2vw;
}

#assistanceArea {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vh;
    color: var(--color-text-primary);
    font-family: var(--font-family-mono);
    font-size: clamp(var(--font-size-xsmall), 1.1vw, 2em);
    overflow: visible;
}

/* ----------------------------------------INPUT BOXES MAIN CONTAINER */
#inputContainers {
    position: static; /* Keeps the element in the normal document flow */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    overflow-y: visible;
    display: grid;
    height: 20vw;
    max-height: 95vh;
    min-height: 5vw;
    width: 35vw;
}

/* ------------------------------------------NOTES BOXES */

#notesContainer {
    z-index: 0;
    margin-top: 0;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    position: relative;
    border-radius: 0px;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: vertical;
    height: fit-content;
    height: 70vh;
    max-height: 95vh;
    min-height: 5vw;
    box-sizing: border-box;
    overflow: hidden; /* Use hidden to ensure no scrollbar appears */
    -webkit-overflow-scrolling: touch;
}

#notesContainer::-webkit-scrollbar {
    width: 0; /* Hides scrollbar */
}

#notesContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#enterText {
    z-index: 0;
    background-color: transparent;
    font-family: var(--font-family-sans);
    color: var(--color-placeholder);
    font-size: var(--font-size-medium);
    position: relative;
    margin: var(--margin);
    width: 90%;
    height: 95%;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none; /* Remove focus outline */
    overflow: auto; /* Ensure a scrollbar appears if content exceeds max-height */
}

#enterText::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* -------------------------------MAIN TEXT AND DEFINITION OUTPUT BOXES */
#latinTextAndSourceContainer {
    position: relative;
    color: transparent;
    border: 1px;
    width: 65vw;
    height: 60vh;
    display: inline-block;
}

#latinText {
    z-index: 1;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0.7vw;
    background: transparent;
    position: relative;
    font-size: var(--font-size-latin-text);
    border: var(--color-border);
    min-height: 3vw;
    height: fit-content;
    max-height: 70vh;
    max-width: 64vw;
    overflow: auto; /* Use hidden to ensure no scrollbar appears */
    scrollbar-width: none; /* Firefox-specific */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    resize: vertical;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS and hide scrollbar */
}

#latinText::after {
    z-index: 1;
    content: '';
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    cursor: s-resize;
    background-color: transparent;
}

/* --------------------------------------LINE CONTAINER THE WORD OBJECTS GO IN */
.line-container {
    position: relative;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove shadow effects */
    background-color: transparent; /* Ensure no background highlight */
    border: none; /* Ensure no border highlight */
}

.word {
    color: var(--color-word-highlight);
    display: inline;
    margin: 0.3vw;
    width: 100%;
    outline: none;
    position: relative;
}

/*CANVAS AREA*/
#canvas {
    margin: -3vw;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent interaction with SVG */
}

.line {
    margin: 0 auto;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction with SVG */
}

/* -------------------------LATIN WORD OBJECTS AND THEIR HIGHLIGHTING EFFECTS */
.word.highlight {
    color: var(--color-text-highlight);
}

.word.accusative {
    color: var(--color-word-accusative);
}

.word.accusative.highlight {
    color: rgba(255, 93, 220, 0.331);
}

.word.verb {
    color: var(--color-word-verb);
}

.word.verb.highlight {
    color: rgba(233, 249, 86, 0.454);
}

.word.subject {
    color: var(--color-word-subject);
}

.word.subject.highlight {
    color: rgba(98, 221, 255, 0.442);
}

.word.preposition {
    color: var(--color-word-preposition);
}

.word.preposition.highlight {
    color: rgba(119, 214, 221, 0.103);
}

.word.ablative {
    color: var(--color-word-ablative);
}

.word.ablative.highlight {
    color: rgba(241, 158, 94, 0.333);
}

.word.dative {
    color: var(--color-word-dative);
}

.word.dative.highlight {
    color: rgba(96, 214, 83, 0.556);
}

.word.genitive {
    color: var(--color-word-genitive);
}

.word.genitive.highlight {
    color: rgba(214, 83, 83, 0.322);
}

/* ------------------------------------------------OTHER STUFF  */
#left-of-input {
    position: absolute;
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: 1vw;
    height: 4.7vw;
}

#right-of-input {
    margin-left: 1vw;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

#top {
    width: 90vw;
}

.notes-horizontal-line {
    width: 100%;
    height: 1px;
    background-color: var(--color-note-border);
}
