html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color:#060c0c;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5vw;
    overflow: auto;
    width: 90vw;
    height: 80vh;
}
/* THIS WAS TO KEEP WHITAKERS OUTPUT FROM OVERFLOWING, NOT SURE IF STILL NEED */
pre {   
    white-space: pre-wrap;
    word-wrap: break-word;
}

#mainContainer {
    position: static;      /* Keeps the element in the normal document flow */
    width: 100%;        /* Sets the maximum width to 80% of its parent */
    height: 100%;        /* Sets the maximum width to 80% of its parent */
    box-sizing: border-box;/* Includes padding and border in the element's total width and height */
    overflow: visible;      /* Hides any content that overflows the container */
    display: flex;
    overflow: visible;
}

/* #logo{
    position: relative;
    transform: rotate(90deg);
    color:#68686b62;
    font-size: 8px;
    align-self:flex-start;
} */
 
/* ----------------------------------------SOURCE MATERIAL BOXES */

#sourceContainer{
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 7vh;
    min-height: 3vh;
    padding: 1vw;
}
#inputLabel{
    margin-right: 1vw;
    color: #C8ACD6;
    font-size: 2vw;
}
#sourceMaterialArea{
    border: #111010;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color:#00000000;
    position: relative;
    width: 46%;
    height: 2.5vw;
    min-height: 2vw;
    min-width: 40%;
    border-radius: 10px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: none;
    overflow: auto;
}
#sourceMaterialArea::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#sourceArea {
    display: flex; /* Flexbox for vertical centering */
    text-align: left; /* Horizontal centering */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: .8vw;
    padding-left: 1.5vw;
    background: #091313;
    color:#415555;
    border: none;
    width: 100%;
    height: 100%;
    font-size: clamp(8px, 1vw, 20px);
    font-family: monospace;
    outline: none;
    scrollbar-width: none;
    resize: none;
    -ms-overflow-style: none;
}
 /* -------------------------------MAIN TEXT AND DEFINITION OUTPUT BOXES */
#latinTextAndSourceContainer{
    position:relative;
    color: b7b7b7ac;
    border: 1px;
    width: 70%;
    height: 100%;
    display: inline-block;
}
#latinText {
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: transparent;
    position: relative;
    font-size: 2.5vw;
    border: #3f3f3e;
    max-height: 40vh;
    max-width: 65vw;
    overflow:scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    /* box-shadow: inset 0 10px 8px -10px #060c0c,
                inset 0 -10px 8px -10px #060c0c; */
}

#latinText::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#lookupAreaContainer{
    height: 50vh;
    width: 100%;
    overflow: visible;
}
#lookUpWord {
    margin-top: 2vh;
    position: relative;
    color:#C8ACD6;
    font-size: calc(1vw + 1vh);

}
#assistanceArea {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vh;
    color:#FEFDED;
    font-family:'Courier New', Courier, monospace;
    font-size: clamp(8px, 1vw, 15px);
    overflow: visible;
}

 /* ----------------------------------------INPUT BOXES MAIN CONTAINER */
 #inputContainers {
    position: static;      /* Keeps the element in the normal document flow */
    box-sizing: border-box;/* Includes padding and border in the element's total width and height */
    overflow: hidden;     
    display:grid;
    max-height: 100vh;
    width: 30%;
}
/* ------------------------------------------NOTES BOXES */
#notesContainer {
    margin-top: 2vh;
    border: #3f3f3e;
    border-style: solid;
    border-width: 1px;
    padding: 1vw;
    position: relative;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    resize: vertical;
    width: 100%;
    height: 100%;
    min-height: 10%;
    max-height: 70vh;
    
    box-sizing: border-box; /* Ensure padding and border are included in the height calculation */
    overflow: auto; /* Ensure a scrollbar appears if content exceeds max-height */
}
#enterText {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: #b7b7b7ac;
    font-size: clamp(8px, 1vw, 15px);
    position: relative;
    width: 95%;
    height: 95%;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none; /* Remove focus outline */
    overflow: auto; /* Ensure a scrollbar appears if content exceeds max-height */
}
#enterText::-webkit-scrollbar {
    width: 0;
    height: 0;
}
/* -------------------------LATIN WORD OBJECTS AND THEIR HIGHLIGHTING EFFECTS */
.word {
    color:rgba(255, 248, 220, 0.733);
    display:inline;
    margin: .3vw;
    width: 100%;
    outline: none;
    position:relative;
}
.word.highlight {
    color: #C8ACD6;
}
.word.accusative {
    color: rgb(255, 93, 220);
}
.word.accusative.highlight {
    color: rgba(255, 93, 220, 0.331);
}
.word.verb {
    color: rgb(233, 249, 86);
}
.word.verb.highlight {
    color: rgba(233, 249, 86, 0.454);
}
.word.subject {
    color: rgb(98, 221, 255);
}
.word.subject.highlight {
    color: rgba(98, 221, 255, 0.442);
}
.word.preposition {
    color: rgba(119, 214, 221, 0.475);
}
.word.preposition.highlight {
    color: rgba(119, 214, 221, 0.103);
}
.word.ablative {
    color: rgb(215, 117, 43);
}
.word.ablative.highlight {
    color: rgba(241, 158, 94, 0.333);
}
.word.dative {
    color: rgb(96, 214, 83);
}
.word.dative.highlight {
    color: rgba(96, 214, 83, 0.556);
}
.word.genitive {
    color: rgb(214, 83, 83);
}
.word.genitive.highlight {
    color: rgba(214, 83, 83, 0.322);
}
 /* --------------------------------------LINE CONTAINER THE WORD OBJECTS GO IN */
.line-container {
    position: relative;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove shadow effects */
    background-color: transparent; /* Ensure no background highlight */
    border: none; /* Ensure no border highlight */
}

/* ------------------------------------------------OTHER STUFF  */

.horizontal-line {
    width: 95%; /* Adjust width as needed */
    height: 1px; /* Adjust thickness as needed */
    background-color: #68686b55; /* Change color as needed */
}
.z-index-bottom {
    z-index: 0;
}
.z-index-middle {
    z-index: 1;
}
.z-index-top {
    z-index: 2;
}
