body {
    background-color:#060c0c;
    background-image: url('background.png');
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(138, 137, 137);
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.line-container {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
    outline: none; /* Remove any outline */
    box-shadow: none; /* Remove shadow effects */
    background-color: transparent; /* Ensure no background highlight */
    border: none; /* Ensure no border highlight */
}
#logo{
    position: absolute;
    left: 985px;
    top: 93px;
    transform: rotate(90deg);
    color:#68686ba6;
    font-size: small;
}
#mainContainer{
    top: 20px;
    left: 20px;
    position:absolute;
    white-space: nowrap;
    display: inline-block;
}
#latinTextAndSourceContainer{
    top: 30px;
    position:absolute;
    border: 1px;
}
#latinText {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 60px;
}

#sourceMaterialArea{
    border: #3f3f3e;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    box-sizing: border-box;
    max-width: 90%;
    background-color:#31363f2c;
    position: absolute;
    top: 10px;
    width: 300px;
    left: 700px;
    height:100px;
    /* -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  */
    border-radius: 3px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    /* box-shadow: 2px 2px 5px rgba(19, 19, 19, 0.3); */

}
#notesContainer{
    background-color: #080e0e;
    border: #3f3f3e;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 175px;
    width: 300px;
    left: 700px;
    resize: vertical;
    max-height: 540px;
    min-height: 50px;
    height: 540px;
    border-radius: 3px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    /* box-shadow: 2px 2px 5px rgba(19, 19, 19, 0.3); */

}
#savedWordsArea{
    border: #3f3f3e;
    border-style: solid;
    border-width: 1px;
    z-index: 3;
    background-color:#0a1111;
    position: absolute;
    min-height: 50px;
    max-height: 450px;
    top: 115px;
    width: 300px;
    left: 700px;
    resize: vertical;
    overflow: auto;
    border-radius: 3px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    /* box-shadow: 2px 2px 5px rgba(19, 19, 19, 0.3); */
}
#sourceArea {
    resize: none;
    background-color: rgba(24, 19, 20, 0);
    border: none;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:#68686b;
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    height: 120px;
}
#enterText {
    resize: none;
    background-color: rgba(236, 146, 160, 0);
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#b7b7b7;
    width: 90%;
    margin-left: 22px;
    margin-top: 20px;
    outline: none;
    height: 510px;
}
#savedWordsHere {
    border: none;
    font-size: 9px;
    font-family: 'Courier New', Courier, monospace;
    color:rgba(252, 252, 252, 0.794);
    width: 250px;
    margin-left: 23px;
    margin-top: 10px;
    outline: none;
    height: auto;
    overflow-wrap: break-word; /* Ensures long words break and wrap */
    word-wrap: break-word; /* For compatibility with older browsers */
    white-space: normal; /* Ensures text wraps normally */
}
#bottomText {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    vertical-align: middle;
    color:#eeeeeea5;
    width: 250px;
    top: 10px;
    left: 10px;
    height: 30px;
    margin-left: 15px;
    margin-top: 10px;
    outline: none;
    font-size: 10px;
}

.z-index-bottom {
    z-index: 0;
}
.z-index-middle {
    z-index: 1;
}
.z-index-top {
    z-index: 2;
}

.word {
    color:#f6f6f6db;
    display:inline;
    margin: 4px;
    width: 100%;
    outline: none;
    position:relative;
}
.word.highlight {
    color: #C8ACD6;
}
.word.accusative {
    color: rgb(237, 32, 199);
}
.word.accusative.highlight {
    color: rgb(172, 25, 145);
}
.word.verb {
    color: rgb(133, 231, 129);
}
.word.verb.highlight {
    color: rgb(77, 150, 77);
}
.word.subject {
    color: rgb(16, 178, 219);
}
.word.subject.highlight {
    color: rgb(13, 110, 167);
}
.word.preposition {
    color: rgb(148, 9, 90);
}
.word.preposition.highlight {
    color: rgb(80, 5, 49);
}

#lookupAreaContainer{
    left: 30px;
    width: 500px;
    vertical-align: bottom;
}
#lookUpWord {
    margin-top: 40px;
    margin-left: 68px;
    color:#C8ACD6;
    font-size:q 25px;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
}
#assistanceArea {
    margin-top: 35px;
    margin-left: 40px;
    color:#FEFDED;
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    max-width: 600px;
    display: inline-block;
}